<h1>Movements#show</h1>

<p>
  <strong>Nombre:</strong>
  <%= @movement.name %>
</p>

<p>
  <strong>Poder:</strong>
  <%= @movement.power %>
</p>

<table class="table">
    <thead>
        <tr>
            <th> Nombre Pokemons que lo pueden usar </th>
        <tr>
    <thead>
    <tbody>
        <% @movement.pokemons.each do |pokemon|%>
            <tr>
                <td><%= pokemon.name%></td>
            <tr>
        <%end%>
    </tbody>
</table>